<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Welcome {{ user.first_name }}!</h1>
        <div class="nav_bar"> // Nav Bar--
            <!-- <a href="/cards/draw">Draw a card</a> -->
            <a href="/new/card">Create a Card, yo</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="container">

        </div>
    </div>
</body>
</html>