<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Welcome {{ this_user.first_name }}!</h1>
        <div class="nav_bar">
            <!-- <a href="/cards/draw">Draw a card</a> -->
            <a href="/new/card">Create a Card, yo</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="container">
            {% if cards %}
                <h2>All Cards</h2>
                    <ul>
                        {% for card in cards %}
                            <li>{{ card.name }}</li>
                            <li>{{ card.bio }}</li>
                            <li>{{ card.tier }}</li>
                            <li>{{ card.skills }}</li>
                            <li>{{ card.stats }}</li>
                            <a href="/show/{{ card.id }}">View</a>
                            
                        {% if card.user.id == this_user.id %}
                            <a href="/edit/{{ card.id }}">Edit</a>
                            <a href="cards/delete/{{ card.id }}">Delete</a>
                        {% endif %}
                    {% endfor %}
                    </ul>
            {% endif %}
        </div>
    </div>
</body>
</html>