<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/styles.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Edit Card</title>
</head>

<body id="edit-bg">
    <div class="dashboard-nav">
        <a id="dashboard-link" href="/dashboard"><<< Back to Dashboard</a>
    </div>
    
    <div id="editContainer">
        <div class="editContainer-left">
            <img class="edit-kitty" src="{{ url_for('static', filename='pictures/edit-mecha-cat-horizontal.png') }}" alt="Edit Kitty">
        </div>
        
        <div class="editContainer-right">
            <form action="/cards/edit_in_db/{{this_card.id}}" method="post" enctype="multipart/form-data" class="editForm">
            
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>ERRORS</strong>
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}

        <div class="form-group">
            <label for="name" class="edit-label">Name:</label>
            <input type="text" name="name" value="{{this_card.name}}" id="cardName" class="form-control" placeholder="Name">
        </div>

        <div class="form-group">
            <label for="bio" class="edit-label">Bio:</label>
            <textarea name="bio" class="form-control" placeholder="Create Bio">{{this_card.bio}}</textarea>
        </div>
        <div class="form-group">
            <label for="skills" class="edit-label">Skills:</label>
            <textarea name="skills" class="form-control" placeholder="Edit Skills">{{this_card.skills}}</textarea>
        </div>

        <div class="form-group">
            <label for="stats" class="edit-label">Stats:</label>
            <input type="number" min="1" max="100" name="stats" value="{{this_card.stats}}" class="form-control" placeholder="1 - 100">
        </div>

        <div class="form-group">
            <label for="tier" class="edit-label">Card Tier:</label>
            <select name="tier" class="form-control">
                <option value="Student">Student</option>
                <option value="Alumni">Alumni</option>
                <option value="TA">TA</option>
                <option value="Instructor">Instructor</option>
            </select>
        </div>

        <!-- <div class="form-group">
            <label for="picture">Picture:</label>
            <input type="file" name="picture" class="form-control-file">
            {% if this_card.picture %}
            <img src="{{url_for('static', filename='uploads/' + this_card.picture)}}" alt="Picture">
            {% endif %}
        </div> -->
        <input type="submit" value="Update" class="edit-btn">
    </form>
</div>
</div>
</body>
</html>
