<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/styles.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap" rel="stylesheet">
    <title>TOTALLY NOT A SCAM TM</title>
</head>
<body class="d-flex">

        <section class="section1">
            <h1 class=" m-3 my-4 text-white">DojoTraders</h1>
            <img class="logoImg" src="{{ url_for('static', filename='pictures/logoperfect.png') }}" alt="Image logo" >
        </section>


        <section class="section2">
            
    <h3 class="text-center my-4 text-dark">Registration</h3>
    <div class="mx-auto d-flex justify-content-around">
            <form action="/register" method="post" class="regForm form text-dark rounded">
            {% with messages = get_flashed_messages(category_filter=['register']) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>ALERT ERROR</strong>
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" value="{{first_name}}" class="form-control">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" value="{{last_name}}" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name="email" value="{{email}}" class="form-control">
            </div>
            <div class="form-group">
                <label for="tier">Account Type:</label>
                <select name="tier" class="tier error">
                    <option disabled selected>-Select Tier-</option>
                    <option value="Instructor">Instructor</option>
                    <option value="TA">TA</option>
                    <option value="Alumni">Alumni</option>
                    <option value="Student">Student</option>
                </select>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="confirm">Confirm Password:</label>
                <input type="password" name="confirm_password" class="form-control">
            </div>
            <input type="submit" value="Register" class="my-4 btn btn-primary">
            <a class="link" href="/">Don't have an account?</a>
            </form>

            
        </section>
        
        
    </div>

</body>
</html>