<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>View Card</title>
    </head>
    
    <body>
        <div class="cardsContainer m-4">
            <!-- Cards -->
            <div class="card-columns" >
                <div id="card-100" class="card">
                    <h2 class="card-title">{{ this_card.name }}</h2>
                    <img class="card-img" src="../static/pictures/{{filename}}" alt="Card image cap">
                    <div  class="card-body">
                        <h3 class="card-subtitle">{{ this_card.tier }}</h3>
                        <ul class="card-list-group">
                            <li><span class="card-list-group-item">SKILLS:</span> {{ this_card.skills }} </li>
                            <li><span class="card-list-group-item">STATS:</span> {{ this_card.stats }}</li>
                        </ul>
                        <p class="card-text">{{ this_card.bio }}</p>
                    </div>
                </div>

                <a href="/dashboard">Dashboard</a>
                
                {% if this_card.user.id == session["user_id"] %}
                    <a href="/edit/{{ this_card.id }}">Edit</a>
                    <a href="/cards/delete/{{ this_card.id }}">Delete</a>
                {% endif %}
            </div>
        </div>

    </body>
</html>