<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/styles.css')}}">
        <title>View Card</title>
    </head>
    <body id="viewCard">
        <h1 class="text-center">View Card</h1>
        <input type="checkbox" id="checkbox">
        <label class="sideButton" for="checkbox"><i class="fa fa-bars">
        </i> <span>Menu</span></label>
        <div class="sidebar">
            <ul>
                <a href="/new/card">
                    <li>
                        <i class="fa fa-card"></i>
                        Create a Card
                    </li>
                </a>   
                <a href="/logout">
                    <li>
                        <i class="fa fa-logout"></i>
                        Logout
                    </li>
                </a>  
            </ul>
            
        </div>
        <img class="woodTable" src="../static/pictures/woodentable.png" alt="woodtable">
        <div class="cardsContainer m-4">
            <!-- Cards --> 
                <div class="{{this_card.tier}} moveCard  m-5">
                    <p>{{ this_card.name }}</p>
                    <p>Leader Skills: {{ this_card.skills }}</p>
                    <p>{{ this_card.bio }}</p>
                    <div class="d-flex">
                        <p>Stats: </p>
                        <div class="pBarGray">
                        {% if this_card.stats >= 50%}
                            <div class="p-bar nice" style="width:{{ this_card.stats}}%"> {{this_card.stats}}
                        {% endif %}    
                        {% if this_card.stats < 50 %}
                            <div class="p-bar bad" style="width:{{ this_card.stats}}%"> {{this_card.stats}}
                        {% endif %}    
                        </div>
                        </div>  
                    </div>
                    <a class="dashboardLink" href="/dashboard">Back to Dashboard</a> 
                    {% if this_card.user.id == this_user.id %}
                        <div class ="d-flex justify-content-center">
                            <a class="btn btn-primary m-2 text-white" href="/edit/{{ this_card.id }}">Edit</a>
                            <a class="text-white btn btn-danger m-2" href="cards/delete/{{ this_card.id }}">Sell</a>
                        </div>
                    {% endif %}
                </div>
        </div>
    </body>
</html>