<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Card</title>
</head>
<body>
    {% for card in user.cards %}
    <tr>
        <td>{{ card.name }}</td>
        <td>{{ card.bio }}</td>
        <td>{{ card.skills }}</td>
        <td>{{ card.stats }}</td>
        <td>
            <a href="/edit/{{ card.id }}">Edit</a>
            <a href="/destroy/{{ card.id }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</body>
</html>