/* Hovering Cards by Karim jawhar https://codepen.io/kjawhar15/pen/zLBaPj */

* {
  margin: 0;
  padding: 0;
  font-family: 'Assistant', sans-serif;
}

#bodyLogin {
  background-color: lightgray;
}

.divCard1 .github {
  height: 25px;
  width: 25px;
  transform: translateY(-20%);
}

.divCard1 .linkedin {
  height: 15px;
  width: 60px;
  transform: translateY(-20%);
}

.mainSection {
  margin-top: 100px;
  padding: 30px;
  margin-left: 8%;
  border-radius: 25px;
  height: 80vh;
  width: 85%;
  text-align: center;
  background-color: beige;
}

.navDash {
  height: 10%;
}

.section1 {
  width: 50%;
  height: 100vh;
  background-image: url(../pictures/galaxy.png);
  background-size: auto;
}

.section2 {
  height: 100vh;
  width: 50%;
  background: linear-gradient(to right, rgba(255, 234, 0, 0.445), rgb(255, 250, 181, 1));
}

.vl {
  border: 1px solid gray;
  height: 30px;
}

.regForm {
  padding: 10px;
  font-size: large;
  font-weight: bold;
  width: 50%;
}

.regButton {
  text-decoration: none;
  color: white;
}

.regButton:visited {
  text-decoration: none;
  color: white;
}

.regButton:hover {
  text-decoration: none;
  color: white;
}

.regForm:hover {
  box-shadow: 0px 0px 20px black;
}

.stateLogo {
  margin-top: 20px;
  width: 400px;
}

.invInk {
  font-size: 60px;
  color: black;
  word-wrap: break-word;
  text-align: left;
  animation: invisibleInk 5s ease infinite;
}


.actualCard {
  margin-top: 50px;
  height: 40%;
  width: 70%;
}

/* .imgCard {
  opacity: 0;
}

.imgCard:hover {
  opacity: 1;
} */


.card1 {
  width: 180px;
  height: 300px;
  margin-top: 20px;
  background: linear-gradient(rgb(225, 150, 58), rgb(227, 144, 91));
  transition: .6s;
  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
}

.card1:hover {
  transform: rotatex(0deg);
  transform: rotatez(0deg);
  transition: .6s;
  box-shadow: 0px 0px 20px rgba(225, 150, 58, 0.5);
}

.card2 {
  width: 180px;
  height: 300px;
  margin-top: 20px;
  background: linear-gradient(#CDA93E, #EDD9A0);
  transition: .6s;
  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
}

.card3 {
  width: 180px;
  height: 300px;
  margin-top: 20px;
  background: linear-gradient(#eba5db, rgb(220, 158, 210));
  transition: .6s;
  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
}

.card4 {
  width: 180px;
  height: 300px;
  margin-top: 20px;
  background: linear-gradient(#eba5db, rgb(220, 158, 210));
  transition: .6s;
  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
}

.card2:hover {
  transform: rotatex(0deg);
  transform: rotatez(0deg);
  transition: .6s;
  box-shadow: 0px 0px 20px rgba(220, 158, 210, 0.3);
}

.card3:hover {
  transform: rotatex(0deg);
  transform: rotatez(0deg);
  transition: .6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.card4:hover {
  transform: rotatex(0deg);
  transform: rotatez(deg);
  transition: .6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.card1 img {
  height: 65%;
  width: 100%;
}

.card2 img {
  height: 65%;
  width: 100%;
}

.card3 img {
  height: 65%;
  width: 100%;
}

.card4 img {
  height: 65%;
  width: 100%;
}

.divCard1 {
  height: 100%;
}

.link {
  text-decoration: none;
  color: #ffab00;
}

.link:hover {
  text-decoration: none;
  color: #ffab00;
}

.cardLink {
  text-decoration: none;
  color: white;
}

.cardLink:hover {
  text-decoration: none;
  color: white;
}

.cardLink:after {
  text-decoration: none;
  color: white;
}

.logoImg {
  height: 650px;
  width: 650px;
  margin-left: 150px;
  animation: up-down 6s ease infinite;
}

.err {
  animation: shake 0.5s 2;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(-3%);
  }

  50% {
    transform: translateY(3%);
  }

  100% {
    transform: translateY(-3%);
  }
}

@keyframes invisibleInk {
  0% {
    box-shadow: 10px 10px black;
  }

  50% {
    box-shadow: -10px -10px black;
  }

  100% {
    box-shadow: 10px 10px black;
  }
}

/* VIEW CARD CSS */

#viewCard {
  background-color: beige;
  height: 500px;
}
.cardsContainer {
  display: flex;
  justify-content: center;
  transform: translateY(-80%);
 }

.card {
  display: flex;
  justify-content: center;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  /* changed */
  border-radius: 0;
  /* changed */
}

.moveCard {
  width: 100px;
  height: 280px;
  padding: 10px;
  color: white;
  font-size: 10px;
  transition: .6s;
  transform: rotatex(75deg) translatey(-230px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
  content: none;
}

.moveCard:hover {
  width: 300px;
  height: 480px;
  font-size: 20px;
  transform: rotatex(0deg);
  transform: rotatez(0deg);
  transition: .6s;
  box-shadow: 0px 0px 20px rgba(225, 150, 58, 0.5);
  content: normal;
}

.card-body {
  padding: 0;
  /* changed */
}

.card-title {
  margin-bottom: 0;
  /* changed */
}

.card-subtitle {
  margin-top: 0;
  /* changed */
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link+.card-link {
  margin-left: 0;
  /* changed */
}

.card-img {
  width: 100%;
  border-radius: 0;
  /* changed */
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  /* changed */
}


#card-100.card {
  font-family: 'Assistant', sans-serif;
  display: flex;
  justify-content: center;
}

#card-100 .card-title {
  padding: 10px;
  font-size: 10px;
}


#card-100 .card-body {
  padding: 10px;
  font-size: 100%;
  line-height: normal;
}

#card-100 .card-subtitle {
  font-size: inherit;
}

#card-100 .card-list-group {
  padding: inherit;
}

#card-100 .card-list-group span {
  padding: inherit;
}

#card-100 .card-text {
  padding: inherit;
}

/* If you have a link in your card, add the styles here. If you don't have a link, leave it as it is */
#card-100 .card-link {
  display: none;
}


/* Making any card linkable without changing the styling, please don't change */

.card-switch {
  color: inherit;
  text-decoration: none;
}

.card-switch:hover {
  color: inherit;
  text-decoration: none;
}



/* Dashboard CSS */

#dashBody {
  background-color: beige;
}

.woodTable {
  z-index: 1;
  object-fit: fill;
  width: 75%;
  height: 500px;
  transform: translate(20%, 20%);
}

.container {
  background-color: #BAB5BD;
  box-shadow: 5px 5px lightskyblue;
  height: 100%;
}

.dashCard {
  width: 230px;
  height: 280px;
  padding: 10px;
  color: white;
}


.Student {
  border: 3px solid green;
  box-shadow: 0px 0px 5px green;
  background-color: rgb(47, 94, 47);
  z-index: 2;
}

.Alumni {
  border: 3px solid blue;
  box-shadow: 0px 0px 5px blue;
  background-color: rgb(121, 202, 229);
  z-index: 2;
}

.TA {
  border: 3px solid purple;
  box-shadow: 0px 0px 15px purple;
  background-color: rgb(139, 87, 139);
  z-index: 2;
}

.Instructor {
  border: 3px solid gold;
  animation: glow 3s linear infinite;
  background-color: #2B2E33;
  z-index: 2;
}

@keyframes glow {
  0% {box-shadow: 0px 0px 10px gold;}
  25% {box-shadow: 0px 0px 20px gold;}
  50% {box-shadow: 0px 0px 40px orangered;}
  75% {box-shadow: 0px 0px 20px gold;}
  100% {box-shadow: 0px 0px 10px gold;}
}
#checkbox, .sideButton span { /* Hide the checkbox input & word "Menu" in the button */
  display: none;
}

.sideButton {
  display: block;
  background-color: #a272d2;
  color: #fff;
  width: 55px;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  cursor: pointer;
  transition: width .3s ease-in-out;
}

.sidebar {
  background-color: #2B2E33;
    position: fixed;
    width: 200px;
    height: 25%;
    z-index: 1111;
    transition: transform .3s ease-in-out;
    transform: translateX(-250px);
}

.sidebar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidebar ul a {
  position: relative;
  text-decoration: none;
  display: block;
  background-color: transparent;
  color: #BAB5BD;
  padding: 15px 20px;
  font-size: 16px;
}

.sidebar ul a li i {
  margin-right: 15px;
}

.sidebar ul a:nth-child(2)::after, .sidebar ul a:nth-child(3)::after {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -9px;
  color: #fff;
  font-size: 13px;
  padding: 0 7px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.sidebar ul a:nth-child(2)::after {
  content: "You sure?";
  background-color: tomato;
}

.sidebar ul a:nth-child(3)::after {
  content: "2";
  background-color: #a272d2;
}

/* Add margin to the icon in the second item */
.sidebar ul a:nth-child(2) li i {
  margin-left: 4px;
  margin-right: 19px;
}

.sidebar ul a:hover, .sidebar ul a.active {
  background-color: #161920;
  color: #fff;
}

.sidebar ul a:hover::before, .sidebar ul a.active::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: #a272d2;
  width: 4px;
  height: 100%;
}
/* Sidebar - ends */

/* Effect of showing the sidebar - starts */
#checkbox:checked ~ .sidebar {
  transform: translateX(0);
}

#checkbox:checked + .sideButton {
  width: 200px;
  padding: 0 20px;
}

#checkbox:checked + .sideButton span { /* Show again the word "Menu" in the button */
  display: inline;
}
/* Effect of showing the sidebar - ends */

.nice {
  background-color: lightgreen;
}

.bad {
  background-color: lightcoral;
}

.p-bar {
  border-radius: 25px;
  height:23px;
  text-align: center;
}

.pBarGray {
  background-color: gray;
  width: 75%;
  height: 23px;
  border-radius: 25px;
}

/* Here's a new push lol */



/* CREATE A FORM CSS BEGINS */

#createContainer {
  background-color: #97D2FB;
  display: flex;
  flex-direction:column;

}

.create-form {
  /* col-3 enable-rounded */
  width: 300px;
}

/* CREATE FORM CSS ENDS */

/* EDIT FORM CSS BEGINS */
#editContainer {
  background-color: #9FA0C3;
  display: flex;
  flex-direction:column;

}
.editForm {
  /* col-3 enable-rounded */
  width: 300px;
}

/* EDIT FORM CSS ENDS */
